.container{
    height: 100vh;
    width: 100vw;
}

.lgc{
    padding-top: 30px;
    padding-left: 30px;
    background: white;
    border-left: 1px solid rgb(241,241,249);
    height: 50vh;
}

.divButton{
    text-align: right;
    padding-top: 15px;
}